<ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="">
      <!-- src="../../../assets/electric-guitar-004.jpg" -->
      <img style="width: 100%; height: 800px;" [src]="image" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>


<div class="container">

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/fender.jpg" class="d-block mx-lg-auto img-fluid myImg" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular
        front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
        components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular
        front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
        components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/gibson.jpg" class="d-block mx-lg-auto img-fluid myImg" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/prs.jpg" class="d-block mx-lg-auto img-fluid myImg" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular
        front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
        components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular
        front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
        components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/ibanez.jpg" class="d-block mx-lg-auto img-fluid myImg" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/Gibson-ES335-1@2160x1441.jpg" class="d-block mx-lg-auto img-fluid myImg"
        alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular
        front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
        components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>


  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular
        front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
        components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/squire.jpg" class="d-block mx-lg-auto img-fluid myImg" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
  </div>


</div>